.smartphone {
  position: relative;
  margin: auto;
  border: 2vh black solid;
  border-top-width: 5vh;
  border-bottom-width: 6vh;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The screen (or content) of the device */
.smartphone {
  width: calc(70vh * 0.5);
  height: 70vh;
  overflow-y: auto;
}
