body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.vis-network {
  z-index: 0;

  border: none;
  background-color: #3d3d3d;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;

  height: 100vh;
  width: 100vw;
}

#graphcanvas-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;

  height: 100vh;
  width: 100vw;
}

.smartphone {
  position: relative;
  margin: auto;
  border: 2vh black solid;
  border-top-width: 5vh;
  border-bottom-width: 6vh;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The screen (or content) of the device */
.smartphone {
  width: calc(75vh * 0.5);
  height: 75vh;
  background: white;
  overflow-y: auto;
}
