.rcw-conversation-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.rcw-messages-container {
  background-color: #3d3d3d;
}

.rcw-launcher, .rcw-conversation-container .rcw-close-button, .rcw-conversation-container .rcw-close-button,
 .rcw-conversation-container > .rcw-header {
  background-color: #e91e63;
}

.rcw-message > .rcw-response > .rcw-message-text {
  background-color: white;
  color: black;
}

.rcw-message > .rcw-client > .rcw-message-text {
  background-color: #e91e63;
  color: white;
}

.rcw-timestamp {
  color: white;
}

.rcw-sender, .rcw-sender > *{
  background-color: #3d3d3d;
  color: white;
}
